dist: trusty
language: php

php:
  - 7.1.9

before_script:
  - cp .env.travis.example .env
  - composer install --no-interaction
  - curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
  - sudo apt-get install -y nodejs
  - npm install --global yarn
  - yarn
  - npm run production
 
 script:
  - vendor/bin/phpunit
  